<div class="home-wrapper">
  <div class="masthead clearfix">
    <div class="inner">
      <nav>
        <ul class="nav masthead-nav">
          <li class="active">
            <a href="/contact">关于</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="login inner">
    <%= form_for(@user, url: user_session_path, html: {class: 'form-horizontal'}) do |f| %>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
          <%= f.email_field :email, class: 'form-control input-lg', autofocus: true, placeholder: '邮箱' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
          <%= f.password_field :password, class: 'form-control input-lg', autocomplete: "off", placeholder: '密码' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
          <%= f.submit "Sign in", class: 'btn btn-block btn-success' %><i class="fa fa-sign-in"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
