<div class="books-wrapper">
  <%= render "layouts/header" %>

  <div class="row">
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="#" class="thumbnail">
          <img src="https://img1.doubanio.com/lpic/s28583287.jpg">
        </a>
        <div class="caption">
          <h3>书名</h3>
          <p>类型</p>
          <p>
            <span class="label label-default">总量:</span>
            <span class="label label-default">库存:</span>
            <span class="label label-default">排队:</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
