<div class="masthead clearfix">
  <div class="inner">
    <nav>
      <ul class="nav nav-pills navbar-right">
        <li class="<%= active_class(root_path) %>">
          <a href="<%= root_path %>">首页</a>
        </li>
        <li class="<%= active_class(contact_path) %>">
          <a href="<%= contact_path %>">关于</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
